# Default ignored files
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-1/IntroProgra-15320/Codigos/clases/Sistema_restaurante/.idea/shelf/
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-1/IntroProgra-15320/Codigos/clases/Sistema_restaurante/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-1/IntroProgra-15320/Codigos/clases/Sistema_restaurante/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-1/IntroProgra-15320/Codigos/clases/Sistema_restaurante/.idea/dataSources/
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-1/IntroProgra-15320/Codigos/clases/Sistema_restaurante/.idea/dataSources.local.xml
